:root {
    --bgcolorstart: #80CAE3;
    --bgcolorend: #0094C6;
    --color1: #ff0000;
    --color2: #00ff00;

    --active: #9E0E40;
    --notactive: #E7C3D0;
    --white: #FFFFFF;

    --percentagewidth: calc(20vw + 20vh); 

    --title: #483463;
    --subtitle: #9067C6;

    --hr: #E7C3D0;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(var(--bgcolorstart) 0%, var(--bgcolorend) 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#void {
    height: 3px;
}

/* ################# COMMON ################# */

hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid var(--hr);
}

.sections {
    margin: auto;
    padding: 5px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
}

.extrabold {
    font-weight: bolder;
}
.extralight {
    font-weight: lighter;
}

.title {
    color: var(--title);
}
.subtitle {
    color: var(--subtitle);
}

/* ################# HEADER ################# */

header {
    width: var(--percentagewidth);
    font-size: xx-large;
    text-align: center;
}

/* ################# DAYS ################# */

#daysection {
    width: 35vw;
    font-size: larger;
    text-align: center;
}

#h1 {
    font-size: xx-large;
}

/* ################# WEEKS ################# */

#weeksection {
    width: 50vw;
    font-size: large;
    text-align: center;
}

/* ################# PERCENTAGE ################# */

#percentagesection {
    height: var(--percentagewidth);
    width: var(--percentagewidth);

    display: grid;
    place-items: center;
}

#progress {
    position: relative;
    height: calc( .9 * var(--percentagewidth) );
    width:  calc( .9 * var(--percentagewidth) );
    border-radius: 50%;
    display: grid;
    place-items: center;

    transition: all 0.5s;
}

#progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: var(--white);
    border-radius: 50%;
}

#progressvalue {
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
    color: #231c3d;
}

/* ################# FOOTER ################# */

footer {
    color: var(--white);
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: small;
    margin-bottom: 8px;
}

#datesection {
    position: fixed;
    bottom: 0px;
    margin-bottom: 8px;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    color: var(--bgcolorstart);
}

@media only screen and (max-width: 1080px) {
    header {
        width: 90vw;
        font-size: x-large;
    }

    #daysection {
        width: 85vw;
    }

    #h1 {
        font-size: x-large;
    }

    #weeksection {
        width: 90vw;

    }

    #datesection {
        font-size: small;
    }
}

@media only screen and (max-height: 600px) and (min-width: 600px) {
    #percentagesection {
        display: none;
    }
}
